
body {
  font-family: yoster;
  padding: 20px;
  background: #000000;
  color:white;
}

h2, h1 {
  font-family: yoster;
}


/* FONTS */
@font-face {
  font-family: 'yoster';
  src: url('font_yoster.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   url('font_yoster.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
} 
