body {
  font-family: questrial;
  padding: 20px;
  background: #e8e8e8;
  color:black;
}

h5, h4, h3, h2, h1 {
  font-family: questrial;
}

p.header {
  font-family: questrial;
}

.footer {
  background: #DDDDDD;
}
