body {
  font-family: minecraft;
  padding: 20px;
  background: #000000;
  color:white;
}

h5, h4, h3, h2, h1 {
  font-family: minecraft;
}

p.header {
  font-family: minecraft  
}

.footer {
  background: #202020;
}


/* FONTS */
@font-face {
  font-family: 'minecraft';
  src: url('Minecraft.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   url('Minecraft.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
} 
